<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>投资派-重置登录密码成功</title>
	<!-- 公共样式 -->
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/font/iconfont.css">
	<link rel="stylesheet" href="/src/css/global.css">
	<!-- 页面样式 -->
	<link rel="stylesheet" href="/src/css/pages/account/login.css">
	<link rel="stylesheet" href="/src/css/pages/account/registerSuccess.css">
</head>
<body>
<!-- header -->
<div class="navbar nav-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 navbar-left">
				<i class="icon-font icon-dianhua"><!--图标--></i>
				<span class="tel">400-888-7772(9:00-18:00)</span>
				<a id="publicSeverBtn" href="javascript:;;" class="text-default" data-toggle="popover"
						data-placement="bottom">公众号</a>
				<div id="publicSeverPic" class="hide"><img src="/public/images/scan.png"/></div>
				<a id="customerGroupBtn" href="javascript:;;" class="text-primary" data-toggle="popover"
						data-placement="bottom">客户QQ群</a>
			</div>
			<div class="col-lg-6 navbar-right">
				<div class="pull-right">
					<a class="text-default" href="/views/account/register.html">注册</a>
					<a class="text-default" href="/views/account/login.html">登录</a>
					<a class="text-default" href="#">APP下载</a>
					<a class="text-default" href="#">帮助中心</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 页面开始 -->
<div class="login-layer register-layer">
	<div class="container">
		<a class="return-home" href="/">返回首页</a>
	</div>
	<div class="center-block login-container reg-success-container">
		<!-- logo -->
		<div class="logo-layer clearfix">
			<img class="logo-pic pull-left" src="/public/images/logo.png" alt="投资派logo"/>
			<div class="info">
				<p>A股上市全资控股</p>
				<p>股票代码&nbsp002417</p>
			</div>
		</div>
		<!-- 重置登录密码 -->
		<div class="content text-center">
			<h1 class="title"><i class="icon-font icon-right"></i></h1>
			<h4 style="margin-bottom: 80px">您的登录密码已重置！</h4>
			<a class="btn btn-primary btn-block" href="login.html">立即登录</a>
		</div>
		<!--公司介绍-->
		<div class="company-introduce">
			<ul class="text-center clearfix">
				<li class="list-1">
					<h4>上市控股</h4>
					<p>信息透明公开</p>
					<p>资源积累深厚</p>
				</li>
				<li class="list-2">
					<h4>优质资产</h4>
					<p>金交所审核甄选</p>
					<p>优质资产挂牌发行</p>
				</li>
				<li class="list-3">
					<h4>精准合作</h4>
					<p>国家监管的持牌</p>
					<p>类金融机构</p>
				</li>
			</ul>
		</div>
	</div>
	<!--底部信息-->
	<div class="copyright text-center">
		<p>© 2017 投资派 | All rights reserved | 江苏深南互联网金融信息服务有限公司</p>
		<p>苏ICP备16020043号-2</p>
	</div>
</div>
<!-- 框架js -->
<script src="/public/js/jquery-1.12.4.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<!-- 公共js -->
<script src="/src/js/common.js"></script>
<!-- 页面js -->
</body>
</html>