<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>投资派-投资列表</title>
	<!-- 公共样式 -->
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/font/iconfont.css">
	<link rel="stylesheet" href="/src/css/global.css">
	<!-- 页面样式 -->
	<link rel="stylesheet" href="/src/css/pages/product/list.css">
</head>
<body>
<!-- header -->
<div class="navbar nav-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 navbar-left">
				<i class="icon-font icon-dianhua"><!--图标--></i>
				<span class="tel">400-888-7772(9:00-18:00)</span>
				<a id="publicSeverBtn" href="javascript:;;" class="text-default" data-toggle="popover"
						data-placement="bottom">公众号</a>
				<div id="publicSeverPic" class="hide"><img src="/public/images/scan.png"/></div>
				<a id="customerGroupBtn" href="javascript:;;" class="text-primary" data-toggle="popover"
						data-placement="bottom">客户QQ群</a>
			</div>
			<div class="col-lg-6 navbar-right">
				<div class="pull-right">
					<a class="text-default" href="/views/account/register.html">注册</a>
					<a class="text-default" href="/views/account/login.html">登录</a>
					<a class="text-default" href="#">APP下载</a>
					<a class="text-default" href="#">帮助中心</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--导航菜单-->
<div class="main-nav">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="header-logo"><a href="/"><img src="/public/images/v2/index/logo.png"></a></div>
			</div>
			<div class="col-lg-9">
				<ul class="nav-menu pull-right">
					<li id="nav_index"><a href="/">首页</a></li>
					<li id="nav_pattern"><a href="/static/pattern">交易模式</a></li>
					<li id="nav_security"><a href="/static/security">安全保障</a></li>
					<li id="nav_info"><a href="/static/platInfo">信息披露</a></li>
					<li id="nav_about"><a href="/static/about">关于投资派</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--页面开始-->
<div class="product-list-banner"></div>
<div class="product-list-content">
	<div class="container">
		<div class="row">
			<div class="page-title">
				金交所挂牌资产
			</div>
			<div class="list-table text-default text-center">
				<ul class="head clearfix">
					<li class="name">产品名称</li>
					<li class="rate">历史年化收益率</li>
					<li class="term">产品期限</li>
					<li class="money">起投金额（元）</li>
					<li class="process">进度</li>
					<li class="surplus">剩余可投（元）</li>
					<li class="status">状态</li>
				</ul>
				<div class="table-body" id="productTableList">
					<div class="group">
						<ul class="clearfix">
							<li class="name">
								派派福1710260002
							</li>
							<li class="rate">
								<span class="text-primary rate">8</span>
								<span class="text-primary decimal">%+0.8%</span>
							</li>
							<li class="term">
								180天
							</li>
							<li class="money">
								起投金额（元）
							</li>
							<li class="process">
								<div class="progress">
									<div class="progress-bar" role="progressbar" data-progress="60">
										<span class="text-default">60%</span>
									</div>
								</div>
							</li>
							<li class="surplus">
								50,000.00
							</li>
							<li class="status">
								<a class="btn btn-second">立即认购</a>
							</li>
						</ul>
					</div>
                                        <div class="group">
                                                <ul class="clearfix">
                                                        <li class="name">
                                                                派派福1710260002
                                                        </li>
                                                        <li class="rate">
                                                                <span class="text-primary rate">8</span>
                                                                <span class="text-primary decimal">%+0.8%</span>
                                                        </li>
                                                        <li class="term">
                                                                180天
                                                        </li>
                                                        <li class="money">
                                                                起投金额（元）
                                                        </li>
                                                        <li class="process">
                                                                <div class="progress">
                                                                        <div class="progress-bar" role="progressbar" data-progress="60">
                                                                                <span class="text-default">60%</span>
                                                                        </div>
                                                                </div>
                                                        </li>
                                                        <li class="surplus">
                                                                50,000.00
                                                        </li>
                                                        <li class="status">
                                                                <a class="btn btn-second">立即认购</a>
                                                        </li>
                                                </ul>
                                        </div>
                                        <div class="group">
                                                <ul class="clearfix">
                                                        <li class="name">
                                                                派派福1710260002
                                                        </li>
                                                        <li class="rate">
                                                                <span class="text-primary rate">8</span>
                                                                <span class="text-primary decimal">%+0.8%</span>
                                                        </li>
                                                        <li class="term">
                                                                180天
                                                        </li>
                                                        <li class="money">
                                                                起投金额（元）
                                                        </li>
                                                        <li class="process">
                                                                <div class="progress">
                                                                        <div class="progress-bar" role="progressbar" data-progress="60">
                                                                                <span class="text-default">60%</span>
                                                                        </div>
                                                                </div>
                                                        </li>
                                                        <li class="surplus">
                                                                50,000.00
                                                        </li>
                                                        <li class="status">
                                                                <a class="btn btn-second">立即认购</a>
                                                        </li>
                                                </ul>
                                        </div>
					<div class="group">
						<ul class="clearfix">
							<li class="name">
								派派福1710260002
							</li>
							<li class="rate">
								<span class="text-primary rate">8</span>
								<span class="text-primary decimal">%+0.8%</span>
							</li>
							<li class="term">
								180天
							</li>
							<li class="money">
								起投金额（元）
							</li>
							<li class="process">
								<div class="progress">
									<div class="progress-bar" role="progressbar" data-progress="88">
										<span class="text-default">88%</span>
									</div>
								</div>
							</li>
							<li class="surplus">
								50,000.00
							</li>
							<li class="status">
								<a class="btn btn-second">立即认购</a>
							</li>
						</ul>
					</div>
					<!--已满标-->
					<div class="group complete">
						<ul class="clearfix">
							<li class="name">
								派派福1710260002
							</li>
							<li class="rate">
								<span class="text-primary rate">8</span>
								<span class="text-primary decimal">%+0.8%</span>
							</li>
							<li class="term">
								180天
							</li>
							<li class="money">
								起投金额（元）
							</li>
							<li class="process">
								<div class="progress">
									<div class="progress-bar" role="progressbar" data-progress="100">
										<span class="text-default">100%</span>
									</div>
								</div>
							</li>
							<li class="surplus">
								50,000.00
							</li>
							<li class="status">
								待放款
							</li>
						</ul>
					</div>
					<div class="group complete">
						<ul class="clearfix">
							<li class="name">
								派派福1710260002
							</li>
							<li class="rate">
								<span class="text-primary rate">8</span>
								<span class="text-primary decimal">%+0.8%</span>
							</li>
							<li class="term">
								180天
							</li>
							<li class="money">
								起投金额（元）
							</li>
							<li class="process">
								<div class="progress">
									<div class="progress-bar" role="progressbar" data-progress="100">
										<span class="text-default">100%</span>
									</div>
								</div>
							</li>
							<li class="surplus">
								50,000.00
							</li>
							<li class="status text-success">
								还款中
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--分页-->
			<nav aria-label="...">
				<ul class="pagination pull-right">
					<li class="disabled">
                                                <a href="#">
                                                        <span>&laquo;</span>
                                                </a>
                                        </li>
					<li class="active">
                                                <a href="#">1</a>
                                        </li>
					<li>
                                                <a href="#">2 </a>
                                        </li>
					<li>
                                                <a href="#">3 </a>
                                        </li>
					<li>
						<a href="#">
							<span>&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<div class="m-join">
        <div class="wp">
                <a href="javascript:void(0);" class="appClick">立即加入领888红包</a>
        </div>
</div>
<!--footer-->
<div class="footer">
	<div class="m-footer">
		<div class="wp pos-r">
			<div class="footer-logo"></div>
			<ul class="qrcode clearFix">
				<li>
					<p>下载投资派APP </p>
					<img src="/public/images/v2/index/app.png">
				</li>
				<li>
					<p>关注投资派订阅号 </p>
					<img src="/public/images/v2/index/subscribe.png">
				</li>
				<li>
					<p>关注投资派服务平台 </p>
					<img src="/public/images/v2/index/service.png">
				</li>
			</ul>
			<div class="phone">
				<h2>400-888-7772</h2>
				<h6>咨询时间：工作日 09:00-18:00</h6>
			</div>
		</div>
		<p class="wp footer-p">商业合作：0513-89128760 | 电子邮箱：business@imtzp.com | 媒体联系邮箱：pr@imtzp.com | 地址：江苏省南通市港闸区江海大道817号江海财富大厦A座18楼</p>
	</div>
	<div class="m-copyright">
		<div class="bd wp">
			<p>© 2017 投资派 | All rights reserved | 江苏深南互联网金融信息服务有限公司 苏ICP备16020043号-2</p>
			<p>市场有风险，投资需谨慎</p>
		</div>
	</div>
</div>
<!--左侧工具栏-->
<div class="rightTop">
        <div class="kf">
                <div class="suspend-h"><img src="/public//images/v2/main/phone.png"><em><img src="/public//images/v2/main/phoneOn.png"> </em></div>
                <div class="kf_hover"><p>请拨打我们的免费热线</p><em>400-888-7772</em></div>
        </div>
        <div class="contact">
                <a href="javascript:;" onclick="common.contactCustomer()" target="_blank"><div class="suspend-h"><img src="/public//images/v2/main/service.png"><em><img src="/public//images/v2/main/serviceOn.png"> </em></div></a>
        </div>
        <div class="app">
                <div class="suspend-h"><img src="/public//images/v2/main/app.png"><em><img src="/public//images/v2/main/appOn.png"> </em></div>
                <div class="app_hover"></div>
        </div>
        <div class="calculator" onclick="common.feedbackMessage()">
                <div class="suspend-h"><img src="/public//images/v2/main/calculator.png"><em><img src="/public//images/v2/main/calculatorOn.png"> </em></div>
        </div>
        <div id="top" style="display: none">
                <div class="suspend-h TOP"><img src="/public//images/v2/main/contact.png"><em>返回<br>顶部</em></div>
        </div>
</div>
<!--意见反馈灯箱-->
<div class="calculator_hover" id="layeryijian" style="display: none;">
	<h1>您的反馈对我们至关重要</h1>
	<form>
		<div>
			<textarea placeholder="请留下您的宝贵建议，以便我们改正" id="feedMsg"></textarea>
		</div>
		<div>
			<input type="text" maxlength="11" placeholder="请输入您的手机号码" id="feedPhone">
		</div>
		<span><input type="button" class="input-text" value="提交" id="submitFeedBack"><input type="reset" value="取消" onclick="layer.closeAll()"></span>
	</form>
</div>
<!-- 框架js -->
<script src="/public/js/jquery-1.12.4.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<!-- 公共js -->
<script src="/src/js/common.js"></script>
<script src="/public/js/plugins/layer/layer.js"></script>
<!-- 页面js -->
<script src="/src/js/pages/product/list.js"></script>
</body>
</html>