<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>投资派-认购成功</title>
	<!-- 公共样式 -->
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/font/iconfont.css">
	<link rel="stylesheet" href="/src/css/global.css">
	<!-- 页面样式 -->
	<link rel="stylesheet" href="/src/css/pages/product/subscriptionSuccess.css">
</head>
<body>
<!-- header -->
<div class="navbar nav-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 navbar-left">
				<i class="icon-font icon-dianhua"><!--图标--></i>
				<span class="tel">400-888-7772(9:00-18:00)</span>
				<a id="publicSeverBtn" href="javascript:;;" class="text-default" data-toggle="popover"
						data-placement="bottom">公众号</a>
				<div id="publicSeverPic" class="hide"><img src="/public/images/scan.png"/></div>
				<a id="customerGroupBtn" href="javascript:;;" class="text-primary" data-toggle="popover"
						data-placement="bottom">客户QQ群</a>
			</div>
			<div class="col-lg-6 navbar-right">
				<div class="pull-right">
					<a class="text-default" href="/views/account/register.html">注册</a>
					<a class="text-default" href="/views/account/login.html">登录</a>
					<a class="text-default" href="#">APP下载</a>
					<a class="text-default" href="#">帮助中心</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--导航菜单-->
<div class="main-nav">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="header-logo"><a href="/"><img src="/public/images/v2/index/logo.png"></a></div>
			</div>
			<div class="col-lg-9">
				<ul class="nav-menu pull-right">
					<li id="nav_index"><a href="/">首页</a></li>
					<li id="nav_pattern"><a href="/static/pattern">交易模式</a></li>
					<li id="nav_security"><a href="/static/security">安全保障</a></li>
					<li id="nav_info"><a href="/static/platInfo">信息披露</a></li>
					<li id="nav_about"><a href="/static/about">关于投资派</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--页面开始-->
<div class="product-list-banner"></div>
<!--认购成功信息-->
<div class="subscription-success">
	<div class="content">
		<div class="clearfix">
			<i class="icon-font icon-right pull-left text-success"><!--图标--></i>
			<div class="pull-left">
				<h2>您的预约认购申请已提交</h2>
				<p>1,500 元 | 安心贷1号第23期</p>
			</div>
		</div>
		<div class="process">
			<ul>
				<li>
					<h4>提交认购申请</h4>
					<span>2017-9-14 16:09</span>
				</li>
				<li>
					<h4>金交所确认认购申请，完成资金清算</h4>
					<span>满标后1个工作日内，放款开始计息</span>
				</li>
				<li>
					<h4>收回本息</h4>
					<span>本金1,500元，预计收益35.00元</span>
				</li>
			</ul>
		</div>
		<div class="text-center next">
			<a class="btn btn-default btn-lg" href="#">查看我的投资</a>
			<a class="btn btn-primary btn-lg" href="#">继续投资</a>
		</div>
	</div>
</div>
<div class="m-join">
	<div class="wp">
		<a href="javascript:void(0);" class="appClick">立即加入领888红包</a>
	</div>
</div>
<!--footer-->
<div class="footer">
	<div class="m-footer">
		<div class="wp pos-r">
			<div class="footer-logo"></div>
			<ul class="qrcode clearFix">
				<li>
					<p>下载投资派APP </p>
					<img src="/public/images/v2/index/app.png">
				</li>
				<li>
					<p>关注投资派订阅号 </p>
					<img src="/public/images/v2/index/subscribe.png">
				</li>
				<li>
					<p>关注投资派服务平台 </p>
					<img src="/public/images/v2/index/service.png">
				</li>
			</ul>
			<div class="phone">
				<h2>400-888-7772</h2>
				<h6>咨询时间：工作日 09:00-18:00</h6>
			</div>
		</div>
		<p class="wp footer-p">商业合作：0513-89128760 | 电子邮箱：business@imtzp.com | 媒体联系邮箱：pr@imtzp.com | 地址：江苏省南通市港闸区江海大道817号江海财富大厦A座18楼</p>
	</div>
	<div class="m-copyright">
		<div class="bd wp">
			<p>© 2017 投资派 | All rights reserved | 江苏深南互联网金融信息服务有限公司 苏ICP备16020043号-2</p>
			<p>市场有风险，投资需谨慎</p>
		</div>
	</div>
</div>
<!--左侧工具栏-->
<div class="rightTop">
	<div class="kf">
		<div class="suspend-h"><img src="/public//images/v2/main/phone.png"><em><img src="/public//images/v2/main/phoneOn.png"> </em></div>
		<div class="kf_hover"><p>请拨打我们的免费热线</p><em>400-888-7772</em></div>
	</div>
	<div class="contact">
		<a href="javascript:;" onclick="common.contactCustomer()" target="_blank"><div class="suspend-h"><img src="/public//images/v2/main/service.png"><em><img src="/public//images/v2/main/serviceOn.png"> </em></div></a>
	</div>
	<div class="app">
		<div class="suspend-h"><img src="/public//images/v2/main/app.png"><em><img src="/public//images/v2/main/appOn.png"> </em></div>
		<div class="app_hover"></div>
	</div>
	<div class="calculator" onclick="common.feedbackMessage()">
		<div class="suspend-h"><img src="/public//images/v2/main/calculator.png"><em><img src="/public//images/v2/main/calculatorOn.png"> </em></div>
	</div>
	<div id="top" style="display: none">
		<div class="suspend-h TOP"><img src="/public//images/v2/main/contact.png"><em>返回<br>顶部</em></div>
	</div>
</div>
<!--意见反馈灯箱-->
<div class="calculator_hover" id="layeryijian" style="display: none;">
	<h1>您的反馈对我们至关重要</h1>
	<form>
		<div>
			<textarea placeholder="请留下您的宝贵建议，以便我们改正" id="feedMsg"></textarea>
		</div>
		<div>
			<input type="text" maxlength="11" placeholder="请输入您的手机号码" id="feedPhone">
		</div>
		<span><input type="button" class="input-text" value="提交" id="submitFeedBack"><input type="reset" value="取消" onclick="layer.closeAll()"></span>
	</form>
</div>
<!-- 框架js -->
<script src="/public/js/jquery-1.12.4.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<!-- 公共js -->
<script src="/src/js/common.js"></script>
<script src="/public/js/plugins/layer/layer.js"></script>
</body>
</html>