.reg-success-container {

}

.reg-success-container .content {
    padding: 70px;
    background-color: #fff;
}

.reg-success-container .content h1 {
    margin: 0 0 20px;
}

.reg-success-container .content h1 i.icon-right {
    font-size: 72px;
    color: #32d749;
}

.reg-success-container .content h4 {
    margin: 0 0 20px;
}

.reg-success-container .content > p {
    margin-bottom: 15px;
}

.reg-success-container .content .company-auto {
    width: 170px;
    margin: 0 auto 15px;
    padding: 8px 0 20px;
    border: 1px solid #ead6b2;
    border-radius: 16px;
    box-shadow: 0 0 3px rgba(217, 181, 117, .75);
}